<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {{#each assets.css}}
    {{{this}}}
    {{/each}}
</head>

<body>
    <div id="root"></div>
    <script>
        window.i18n = {
            submit: '提交',
            cancel: '取消',
            replaceStr: 'my name is {name}, my age is {age}, {component}, {name} is a good body, <a href="https://www.baidu.com">去搜索</a>, {component2}',
            reciprocal: 'time is {time}',
        };
    </script>
    {{#each assets.js}}
    {{{this}}}
    {{/each}}
</body>

</html>